.justify-content-center {
    text-align: center; 
    height: 600px; 
    width: 100%;
}

.container-header {
    text-align: center;
    font-weight: bolder;
}

.container-left {
    text-align: center; 
    display: inline-block;
}

.shuttle-background {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
}

img {
    position: absolute;
}

.container-right {
    text-align: center; 
    display: inline-block;
    
}

.container-right > p { 
    display: inline-block;
    text-align: center; 
}

.container-control-buttons {
    text-align: center;
}

#leftButton {
    margin: 20px;
    font-weight: bold;
}

#rightButton {
    margin: 20px;
    font-weight: bold;
}

#upButton {
    font-weight: bold;
}

#downButton {
    font-weight: bold;
}