<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <button [class.gold]="!goldInactive" [disabled]="inactive" (click)="goldInactive = true">Gold</button> <br>
   <button [class.silver]="!silverInactive" [disabled]="inactive" (click)="silverInactive = true">Silver</button> <br>
   <button [class.copper]="!copperInactive" [disabled]="inactive" (click)="copperInactive = true">Copper</button> <br>
   <!-- <button (click)="inactive = !inactive">Activate/Deactivate Buttons</button> -->
   <button (click)="reactivate()">Reactivate All Buttons</button>
</div>