.chores-list {
    font-family:'Times New Roman', Times, serif;
     color:crimson;
     font-weight: bold;
     font-size: 1.3vw;
  }

  ul {
      color:rebeccapurple;
      font-style: italic;
      font-size: 1.5vw;
  }
  
  h3 {
      color:blue;
     text-decoration: underline;
     font-weight: bold;
     text-align: center;
     font-weight: bold;
  }