<div class="favLinks">
    <h3>Favorite Links</h3>
    <ul>
       <li><a href = "{{favLinks[0]}}">DuckDuckGo</a></li>
       <li><a href = "{{favLinks[1]}}">Slashdot: News for Nerds</a></li>
       <li><a href = "{{favLinks[2]}}">Reddit</a></li>
       <li><a href = "{{favLinks[3]}}">Bleacher Report</a></li>
       <li><a href = "{{favLinks[4]}}">Amazon</a></li>
       <li><a href = "{{favLinks[5]}}">Internet Movie Database</a></li>
       <li><a href = "{{favLinks[6]}}">LaunchCode</a></li>
    </ul>
 </div>