.favLinks {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: bold;
     font-size: 1.5vw;
  }
  
  h3 {
     text-align: center;
     font-weight: bold;
     color:green;
  }
